body {
    background-color:lightgray;
    margin: 0;
    /* padding: 0; */
    font-family: sans-serif;
    background-image: url("../images/num3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
}
/*
.PlayerName{
    margin-left: 20px;
    margin-right: 10px;
    border: green;
}*/
.GameSettingName{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;

}
form#LoadFileForm{
    margin-top: 5px;
    margin-bottom: 5px;
}

#MainMenuContainer{
    max-width: 12cm;
    left: 0;
    right: 0;
    position: absolute;
    top: 25%
}
#CreateNewGameContainer{
    max-width: 12cm;
    left: 0;
    right: 0;
    position: absolute;
    top: 25%
}
#LoginContainer{
    max-width: 12cm;
    left: 0;
    right: 0;
    position: absolute;
    top: 25%

}

#EnterUserNameFormGroup{
    width: 100%;
    left: 0;
    right: 0;
    margin: 15px auto;
}
#Error{
    text-align: center;
}